<%= content_for(:header_logo) { "logo-bw.svg" } %>
<%= content_for(:body_class) { "page-apply" } %>

<div class="container -small form_section">
  <nav class="apply_sections">
    <h2>Apply</h2>

    <div id="sidebar_wrapper">
      <%= render "sidebar" %>
    </div>
  </nav>

  <%= simple_form_for(current_registration) do |f| %>
    <% @registration_form.current_section.attributes.each do |attribute| %>
      <% if attribute.is_a? Array %>
        <%= f.input attribute[0], attribute[1]  %>
      <% else %>
        <%= f.input attribute %>
      <% end %>
    <% end %>

    <div id="buttons_wrapper" class="back_forward_buttons">
      <%= render "buttons" %>
    </div>
  <% end %>
</div>
