<% content_for(:body_class) { "home" } %>
<% content_for(:header_content) do %>
  <div class="countdown">
    <span class="prompt">$ </span>
    <span class="command">curl knighthacks.org/countdown</span>
    <%= react_component("Countdown", hackathonStartsAt: @countdown.hackathon_starts_at) %>
  </div>

  <a class="button" href="#">Apply</a>
<% end %>

<div class="container -small faq">
  <article>
    <h2>What is a hackathon?</h2>

    <p>
      Imagine what you could accomplish if you had 24 uninterrupted hours, unlimited snacks, a fleet
      of fellow software enthusiasts, and expert mentors. This is the essence of a hackathon—an entire
      day devoted to developing your idea from conception to launch.
    </p>

    <%= image_tag "timeline.png", id: "timeline" %>
  </article>

  <article>
    <h2>You mentioned prizes?</h2>

    <p>
      Yeah, prizes. In the past, we've awarded gaming PCs, cloud hosting credits, tablets, VR headsets,
      and more. Come for the fun, but challenge yourself to be innovative and win.
    </p>

    <p class="muted" style="text-align:center">
      Prize list coming soon.
    </p>
  </article>
</div>

<div class="apply apply_initial">
  <div class="container -form">
    <h2>Apply</h2>

    <% if current_user.persisted? %>
      <div class="continue_application">
        <p>Welcome back, <%= current_user.full_name %>!</p>
        <p>Let's finish up the application you began earlier.</p>

        <%= link_to "Continue", apply_redirect_path, class: "button" %>
      </div>
    <% else %>
      <%= render "users/form_sections/basic" %>
    <% end %>
  </div>
</div>
