<!DOCTYPE html>
<html>
  <head>
    <title>KnightHacks</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,500|Source+Code+Pro" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= content_for(:body_class) %>">
    <header role="main" class="<%= content_for(:header_class) %>">
      <div class="container">
        <%= link_to image_tag(content_for(:header_logo) || "logo.svg"), "/" %>

        <%= content_for(:header_content) %>
      </div>
    </header>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
