<!DOCTYPE html>
<html>
  <head>
    <title>KnightHacks</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,500|Source+Code+Pro" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= content_for(:body_class) %>">
    <header role="main">
      <div class="container">
        <%= link_to image_tag(content_for(:header_logo) || "logo.svg"), "/" %>

        <%= content_for(:header_content) %>
      </div>
    </header>

    <%= yield %>

    <footer role="main">
        <div class="container">
          <div class="links">
            <%= link_to image_tag("logo-bw.svg", class: "logo"), "/" %>
            <div class="social">
              <%= link_to image_tag("facebook.svg", class:"icon"), "https://www.facebook.com/KnightHacks/" %>
              <%= link_to image_tag("twitter.svg", class:"icon"), "https://twitter.com/knighthacks" %>
              <%= link_to image_tag("github.svg", class:"icon"), "https://github.com/knighthacks" %>
            </div>
          </div>

          <div>
            <p>
              <small>
                We are a registered student organization at the University of Central Florida.
              </small>
            </p>

            <p>
              <small>
                Hosted by <a href="http://techknights.org">Tech Knights</a> club.
              </small>
            </p>
          </div>
        </div>
    </footer>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
